.empty-box {
  height: 2000px;
}

.target {
  height: 320px;
  width: 120px;
}

.target#first-target {
  position: relative;
  left: 100px;
}

.target:not(#first-target) {
  opacity: 0;
  position: fixed;
  /*bottom: js側で動的に定義*/
  left: 100px;
  /*    transition-property, transition-duration, transition-timing-function, transition-delay    */
  transition: opacity               0.4s                    ease                   0s; /* transitionがSafariだと動かない */
}

.target.fixed#first-target {
  position: fixed;
  /*bottom: js側で動的に定義*/
  left: 100px;
}

.opacity-animation {
  opacity: 1 !important;
}
